/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Íconos */
i {
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

i:hover {
    background: rgba(255, 255, 255, 0.075);
    cursor: pointer;
}
/* Contenedor principal */
main {
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    background-color: #121212;
}

/* Artículo */
article {
    width: 100%;
    max-width: 640px;
    background: rgba(27, 31, 34, 0.85);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    display: none;
}

.display{
    display: flex;
}

/* Título */
h2 {
    color: white;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-top: 20px;
}

/* Párrafos */
p {
    color: #fff;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

/* Imagen del artículo */
article img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

/* Botón de cerrar */
.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

div{
    cursor: pointer;
}